In [45]:
import pandas as pd
all_dfs = pd.read_excel(io="/Users/barta/Documents/Coding/R/K-monitor/data/TEIR.xlsx", sheet_name=None)
year = "2021"

In [46]:
df = pd.DataFrame()

In [54]:
for sheet in all_dfs.keys():
    row = pd.DataFrame({"Település": [all_dfs[sheet].columns[0]], all_dfs[sheet].loc[0][0]: all_dfs[sheet][year][0]})
    df = pd.concat([df,row], ignore_index=True)

In [57]:
df.head(20)

,Település,Szociális támogatásban részesülő nyilvántartott álláskeresők (fő)
0,Aba (1737),5.0
1,Abádszalók (1244),77.0
2,Abaliget (1254),8.0
3,Abasár * (2455),15.0
4,Abaújalpár (1566),4.0
5,Abaújkér (2671),20.0
6,Abaújlak (282),1.0
7,Abaújszántó (359),106.0
8,Abaújszolnok (2633),4.0
9,Abaújvár (227),13.0
10,Abda (1188),1.0
11,Abod * (1035),6.0
12,Abony (2787),141.0
13,Ábrahámhegy * (456),1.0
14,Ács (442),12.0
15,Acsa (1857),4.0
16,Acsád (721),0.0
17,Acsalag (3338),0.0
18,Ácsteszér (1813),0.0
19,Adács (2324),52.0